/* Форма регистрации/авторизации */
.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.auth__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}
.auth__container {
  max-width: 390px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.auth__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px;
}
.auth__row:last-child {
  margin-bottom: 0;
}
.auth__label {
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-bottom: 5px;
}
.auth__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  outline: none;
  padding: 0 0 10px;
  border-bottom: 1px solid #e8e8e8;
}
.auth__input:focus {
  border-bottom: 1px solid #3456f3;
}
.auth__input_error {
  color: #ee3465;
}
.auth__input_error:focus {
  border-bottom: 1px solid #e8e8e8;
}
.auth__error {
  margin-top: 6px;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}
.auth__button {
  margin-top: 135px;
}
.auth__bottom {
  margin-top: 16px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}

@media (max-width: 480px) {
  .auth {
    height: 100%;
  }
  .auth__title {
    margin: 50px 0 80px;
    text-align: center;
  }
  .auth__container {
    margin: 56px 30px 30px;
  }
  .auth__button {
    margin-top: 220px;
  }
  .auth__bottom {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}
