/* О проекте */
.about {
  padding: 110px 0;
  background: #fafafa;
}
.about__description {
  margin: 70px 0 110px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
}
.about__block {
  display: grid;
  grid-template-columns: 1fr;
  gap: 26px 0;
}
.about__paragraph {
  font-size: 14px;
  line-height: 20px;
  /* &:not(.about__paragraph_period) {
      max-width: 500px;
    } */
}
.about__paragraph_period {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}
.about__lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  height: 36px;
}
.about__lists_period {
  background-color: #f2f2f2;
}
.about__lists_direction {
  color: #a0a0a0;
}
.about__list {
  font-size: 14px;
  line-height: 17px;
}
.about__list-paragraph {
  width: 228px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about__list-paragraph_blue {
  background-color: #3456f3;
  color: #fff;
}

@media (max-width: 768px) {
  .about {
    padding: 90px 0;
  }
  .about__description {
    margin-bottom: 93px;
  }
  .about__block {
    gap: 22px 0;
  }
  .about__paragraph:not(.about__paragraph_period) {
    font-size: 12px;
    line-height: 18px;
  }
  .about__list-paragraph {
    width: 140px;
  }
}
@media (min-width: 481px) and (max-width: 580px) {
  .about__paragraph_period {
    max-width: 150px;
  }
}
@media (max-width: 480px) {
  .about {
    padding: 70px 0;
  }
  .about__description {
    margin: 60px 0;
    grid-template-columns: 1fr;
    gap: 56px 0;
  }
  .about__paragraph:not(.about__paragraph_period) {
    font-size: 11px;
    line-height: 16px;
  }
  .about__paragraph_period {
    font-size: 18px;
    line-height: 22px;
  }
  .about__list {
    font-size: 11px;
    line-height: 13px;
  }
  .about__list-paragraph {
    width: 100px;
  }
}
